<div class="container mt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb custom-breadcrumb p-3 rounded shadow-sm">
      <li class="breadcrumb-item active">
        <a [routerLink]="['/clone']" class="breadcrumb-link active" [routerLinkActive]="['active']">
          <i class="fas fa-link mr-2"></i> CLONE
        </a>
      </li>
    </ol>
  </nav>
</div>

<div class="container">

  <div class="compare-container">
    <div class="compare-cards">
      <div class="tenant-card">
        <label for="tenant1">Build Your Tenant</label>
        <input type="text" id="tenant1" [(ngModel)]="manualTenant" placeholder="Enter Tenant" required>
        <input type="text" id="env1" [(ngModel)]="manualEnv" placeholder="Enter Environment" required>
      </div>

      <div class="tenant-card">
        <label for="tenant2">Master Tenant</label>
        <select id="tenant2" [(ngModel)]="selectedTenant" (change)="loadEnvironmentsForTenant('tenant2')" required>
          <option value="" disabled selected>Select Tenant</option>
          <option *ngFor="let tenant of tenants" [value]="tenant.tenant">
            {{ tenant.tenant | uppercase}}
          </option>
        </select>
        <select id="env2" [(ngModel)]="selectedEnv" [disabled]="!selectedTenant" required>
          <option value="" disabled selected>Select Environment</option>
          <option *ngFor="let env of tenant2Environments" [value]="env">
            {{ env | uppercase }}
          </option>
        </select>
      </div>
      <div class="action-buttons">
        <button class="btn-primary" id="compareButton" (click)="cloneProperties()">
          <i class="fas fa-bolt"></i> Clone
        </button>
        <button class="btn-secondary" id="clearButton" (click)="clearSelections()">
          <i class="fas fa-eraser"></i> Clear
        </button>
      </div>
    </div>

    <div *ngIf="!loading && clonedProperties.length > 0" class="table-responsive">

      <div class="table-responsive table-container">
  
        <table class="table custom-table shadow-sm">
          <thead>
            <tr>
              <th *ngFor="let column of columns; let i = index"
                [ngStyle]="{'width': column.width + 'px', 'max-width': column.width + 'px'}" class="text-center">
                {{ column.name }}
                <div class="resize-handle" (mousedown)="onMouseDown($event, i)"></div>
              </th>
  
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let property of clonedProperties; let i = index">
              <td class="property-cell">{{ i+1 }}. &nbsp;{{ property.propertyKey }}</td>
              <td>{{ property.propertyValue }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
  </div>

</div>



  