<div class="dialog-container">
  <div class="dialog-header">
    <h2>Edit Property</h2>
  </div>
  <div class="dialog-content pb-3">
    <form [formGroup]="propertyForm" class="property-form">
      <!-- First Row -->
      <div class="form-row">
        <div class="form-group">
          <label for="type" class="form-label">Type</label>
          <ng-select
            [items]="data.types"
            bindLabel="name"
            [searchable]="true"
            formControlName="type"
            placeholder="Select a Type"
            class="stylish-dropdown"
          ></ng-select>
          <div *ngIf="propertyForm.get('type')?.touched && propertyForm.get('type')?.invalid" class="error-text">
            Type is required
          </div>
        </div>
        
        <div class="form-group">
          <label for="target" class="form-label">Target</label>
          <ng-select
            [items]="data.targets"
            bindLabel="name"
            [searchable]="true"
            formControlName="target"
            placeholder="Select a Target"
            class="stylish-dropdown"
          ></ng-select>
          <div *ngIf="propertyForm.get('target')?.touched && propertyForm.get('target')?.invalid" class="error-text">
            Target is required
          </div>
        </div>
        
        <div class="form-group">
          <label for="application" class="form-label">Application</label>
          <ng-select
            [items]="data.applications"
            bindLabel="name"
            [searchable]="true"
            formControlName="application"
            placeholder="Select an Application"
            class="stylish-dropdown"
          ></ng-select>
          <div *ngIf="propertyForm.get('application')?.touched && propertyForm.get('application')?.invalid" class="error-text">
            Application is required
          </div>
        </div>

        <div class="form-group">
          <label for="fieldGroup" class="form-label">Field Group</label>
          <ng-select
            [items]="data.fieldGroups"
            bindLabel="name"
            [searchable]="true"
            formControlName="fieldGroup"
            placeholder="Select a Field Group"
            class="stylish-dropdown"
          ></ng-select>
          <div *ngIf="propertyForm.get('fieldGroup')?.touched && propertyForm.get('fieldGroup')?.invalid" class="error-text">
            Field Group is required
          </div>
        </div>
      </div>

      <!-- Second Row -->
      <div class="form-row">
        <div class="form-group">
          <label for="environment" class="form-label">Environment Name</label>
          <input id="environment" type="text" formControlName="environment" readonly class="form-input" />
          <div *ngIf="propertyForm.get('environment')?.invalid" class="error-text">Environment is required</div>
        </div>
        <div class="form-group">
          <label for="tenant" class="form-label">Tenant Name</label>
          <input id="tenant" type="text" formControlName="tenant" readonly class="form-input" />
          <div *ngIf="propertyForm.get('tenant')?.invalid" class="error-text">Tenant is required</div>
        </div>
        <div class="form-group">
          <label for="propertyKey" class="form-label">Property Key</label>
          <input id="propertyKey" type="text" formControlName="propertyKey" class="form-input" />
          <div *ngIf="propertyForm.get('propertyKey')?.touched && propertyForm.get('propertyKey')?.invalid" class="error-text">
            Property Key is required
          </div>
        </div>
        <div class="form-group">
          <label for="propertyValue" class="form-label">Property Value</label>
          <input id="propertyValue" type="text" formControlName="propertyValue" class="form-input" />
          <div *ngIf="propertyForm.get('propertyValue')?.touched && propertyForm.get('propertyValue')?.invalid" class="error-text">
            Property Value is required
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="dialog-actions mt-4">
    <button class="btn btn-primary save" (click)="save()" [disabled]="propertyForm.invalid">Save</button>
    <button class="btn btn-secondary cancel" (click)="close()">Cancel</button>
  </div>
</div>
