.custom-breadcrumb {
  background: linear-gradient(90deg, var(--gradient-start) 0%, var(--gradient-end) 100%);
  border-left: 5px solid var(--primary-color);
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.breadcrumb-link {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

.breadcrumb-link:hover {
  color: #212529;
}

.breadcrumb-item.active .breadcrumb-link {
  /* color: #495057;  */
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

.breadcrumb i {
  margin-right: 6px;
  font-size: 1.25rem;
}

.breadcrumb.custom-breadcrumb {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}